% {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(157, 165, 155);
}

.calc-shell{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(98, 98, 98);
    background-color: #B4A89C;
    width: 400px;
    height: 550px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5); /* 3D lift from page */
    background: linear-gradient(to bottom, #f5f0ea, #B4A89C);
    
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
    
}

.button-container > button{
    border-radius: 50%;
    padding: 5px;
    flex: 1 1 calc(25% - 10px);
    aspect-ratio: 1 / 1;
    max-width: 60%;
    font-size: 1.7rem;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(0,0,0,0.5);
    border: .2px solid gray; /* makes look 3d */
    transition: all 0.1s ease;
    
}

.calc-display{
    width: 90%;
    text-align: right;
    margin: 10px 0 10px 0;
    padding-right: 3px;
    font-size: 2rem;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgb(101, 101, 101);
    background-color: whitesmoke;
    border-radius: 10%;
}

.operator{
    background-color: blanchedalmond;
}

.gray-button{
    background-color: rgb(210, 198, 198);
}

button:active {
  transform: translateY(2px);      /* move down slightly when clicked */
  box-shadow: 0 2px #575757, 0 2px #656565;
}
